<styleZ
        body {
            font-family: Arial, sans-serif;
        }
        h1 {
            color: teal;
            font-size: 36px;
        }
        h2 {
            color: blue;
            font-size: 24px;
        }
        p {
            font-size: 16px;
        }
        
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
            margin-bottom: 20px;
        }
        th, td {
            border: 1px solid rgb(9, 9, 9);
            padding: 8px;
            text-align: left;
        }
       #adicional{
        color: green 
       }
       thfoot tr{
        color:orange
       }
       
     
    </style>